.application{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 104px 0px 104px 0px;
}

.application-wrap{
    display: flex;
    align-items: center;
    gap: 40px;
}

.application-wrap-image{
    display: flex;
    justify-content: center;
}

.application-wrap-info h2{
    text-align: left;
    margin-bottom: 16px;
    font-weight: bold;
}

.application-wrap-info p{
    text-align: left;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
}

.application-wrap-buttons{
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .application-wrap-buttons{
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .application-wrap{
        flex-direction: column;
    }

    .application img{
        width: 100%;
    }

    .application-wrap-info{
        padding: 0px 16px 0px 16px;
    }
}

.application-apple-store-button{
    width: 166px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #000000;
    font-size: 24px;
    padding: 11px 15px 11px 15px;
    border: none;
}

.application-google-play-button{
    width: 189px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #000000;
    padding: 10px 13px 10px 13px;
    border: none;
}

.google-play-button-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.google-play-button-text .small-text{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.google-play-button-text .big-text{
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}